
<div class="container booking-show-flex">
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h2 class="card-title">Booking confirmed!</h2>
      <p>Expert: <%= @booking.coffee_chat.user.first_name %> <%= @booking.coffee_chat.user.last_name %></p>
      <p>Student: <%= @booking.user.first_name %> <%= @booking.user.last_name %></p>
      <p>Date and Time: <%= @booking.coffee_chat.start %> <%= @booking.coffee_chat.end %></p>
      <p>Topic: <%= @booking.topic.topic_name %></p>
      <p><%= link_to "JOIN VIDEOCHAT", @booking.video_link, target: :_blank %></p>
      <p><%= link_to "Cancel the Booking", expert_booking_path(@booking.coffee_chat.user, @booking), method: :delete, remote: true, data: {confirm: "Are you sure?"} %></p>
  </div>


</div>


<%# <%= render "bookings/videochat" %>




<div class="chatbox">
  <div id="messages" data-booking-id="<%= @booking.id %>">
    <% messages = @booking.messages.last(10) %>
    <% messages.each do |message| %>
    <%= render 'messages/message', message: message %>
    <% end %>
  </div>

  <%= simple_form_for [ @booking, @message ], remote: true do |f| %>
    <%= f.input :message, label: false, placeholder: "Write your message..." %>
    <%= f.submit "Send",class: "btn btn-secondary" %>
  <% end %>
</div>
