<div class="container">
  <div class="expert-page-top">

    <div class="expert-page-top-left">
      <% if params[:query].empty? %>
        <h1>Experts on <strong>all topics</strong>
      <% else %>
        <h1>Experts on <strong><%= params[:query] %></h1></strong>
      <% end %>
      <h2>Found <%=@experts.count%> experts </h4>
    </div>

    <%= image_tag "search.svg", alt: "expert-page-top-illustration", width: 200 %>

  </div>
  <div class="expert-page-search">
    <%= render "shared/search_bar", :layout => 'horizontal' %>
  </div>

  <div class="results">
    <% @experts.each do |expert| %>
    <div class="expert-card-width">
      <div class="image-containter">
        <% if expert.photo.key %>
          <%= cl_image_tag expert.photo.key, width: 300, crop: :fill %>
        <% elsif expert.id <= 10 %>
          <%= image_tag "expert-#{expert.id}.jpg", width: 300, height: 170, crop: :fill %>
        <% else %>
          <%= image_tag "default-user.png", width: 150, height: 150 %>
        <% end %>
      </div>
      <div class="expert-card-bottom">
        <div class="expert-card-bottom-left">
          <% if expert.first_name.length + expert.last_name.length > 15 %>
            <h4><strong><%=expert.first_name%> <%=expert.last_name.chars[0]%>.</strong></h4>
          <% else %>
            <h4><strong><%=expert.first_name%> <%=expert.last_name%></strong></h4>
          <% end %>
          <% topics = expert.topics %>
          <% if topics.count == 1 %>
            <% if topics[0].topic_name.length > 21 %>
              <p><%= topics[0].topic_name.truncate(21) %></p>
            <% else %>
              <p><%=topics[0].topic_name%> expert</p>
            <% end %>
          <% else %>
            <% topics_string = "" %>
            <% topics.each do |topic| %>
            <% if topics_string == "" %>
              <% topics_string += topic.topic_name %>
            <% else %>
              <% topics_string += ", #{topic.topic_name}" %>
            <% end %>
            <% end %>
            <% if topics_string.length > 21 %>
              <p><%= topics_string.truncate(21) %></p>
            <% else %>
              <p><%=topics_string%> expert</p>
            <% end %>
          <% end %>

          <% rating = expert.reviews.average(:rating).to_f.round  %>
          <div class="rating-inline">
            <% rating.times do %>
                <p><i class="lni lni-star-filled"></i></p>
            <% end %>
          </div>
        </div>
        <div class="expert-card-bottom-right">
          <p><strong><%= expert.bookings.count %> sessions</strong> completed</p>
          <%= link_to "Open profile", expert_path(expert.id, q: params[:query]) %>
        </div>
      </div>
    </div>
    <% end  %>
  </div>

</div>

<%# //sads %>
