<div class="container">
  <% if current_user.expert_profile == true %>
    <% if (!Booking.find_by(user_id: current_user) != nil) && (params[:interface] == nil) %>
      <div class="switch-box">
        <%= link_to "Learner", dashboard_path(interface: "learner") %>
        <%= link_to "Expert", dashboard_path, { class: "background-blue" }  %>
      </div>

      <div class="dashboard-container">
        <div class="dashboard-banner hover-blue", style="justify-content: space-between;">
          <h2>Manage Availability</h2>
          <i class="lni lni-arrow-down-circle"></i>
        </div>

        <div class="calendar invisible", data-controller="open-timeslots-controller">
          <div class="calendar-banner">
            <%# <div class="calendar-left">
              <h2>Here are your available hours...</h1>
              <h3>To Cancel, click on the available hour you could like to cancel</h2>
            </div> %>
              <div class="calendar-days container">
                <%= month_calendar(events: @coffee_chats, attribute: :start, end_attribute: :end) do |date, coffee_chats| %>
                  <%= date %>
                  <%# maybe you will need to put the target in the link_to%>

                  <% coffee_chats.each do |coffee_chat| %>
                  <%= link_to coffee_chat_path(current_user, coffee_chat), method: :delete, data: { confirm: "Would you like to remove your availability?" }, remote: true do %>
                    <div class="meeting">
                      <div class="cancel-btn">
                        <%= link_to 'x', coffee_chat_path(current_user, coffee_chat), method: :delete, data: { confirm: "Would you like to remove your availability?" }, remote: true %>
                      </div>
                      <small><%= coffee_chat.time unless coffee_chat.multi_days? %></small>
                    </div>
                  <% end %>
                  <% end %>
                <% end %>
            </div>
          </div>
          <div class="calendar-banner">
            <div class="calendar-left">
              <h3>ADD AVAILABLE HOURS</h3>
            </div>
            <div class="set-availability",style="visibility: hidden; display: none", data-open-timeslots-target="times">
              <%= form_with url: "/experts/#{current_user.id}/coffee_chats", method: :post do |f| %>
                  <%= f.label :start_time, "START TIME:" %>
                  <%= f.text_field(:start_time, class: 'time-selector')%>
                  <%= f.label :start_time, "END TIME:" %>
                  <%= f.text_field(:end_time, class: 'time-selector')%>
                  <%= f.label :start_time, "DATES:" %>
                  <%= f.text_field(:date_range, class: 'date-selector')%>
                  <%= f.button "Submit", type: 'submit'%>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="dashboard-container">

        <div class="dashboard-banner">
          <i class="lni lni-coffee-cup"></i>
          <h2>Upcoming Coffee Chats</h2>
        </div>

        <div class="dashboard-list">
          <% if !@upcoming_bookings.empty? %>
            <% @upcoming_bookings.each do |booking| %>
            <div class="booking">
                <div class="booking-left">
                  <div class="booking-col right-border">
                    <h2><%=booking.start.strftime("%d")%></h2>
                    <h2><%=booking.start.strftime("%b")%></h2>
                  </div>
                  <div class="booking-col">
                    <h2><%=booking.start.strftime("%H")%>:<%=booking.start.strftime("%M")%></h2>
                    <%=booking.topic.topic_name%>
                    <p><%=(booking.end - booking.start).to_i/60%> mins</p>
                  </div>
                </div>
                <div class="booking-right">
                  <div class="booking-col">
                    <p><%= link_to "Cancel", expert_booking_path(current_user, booking), method: :delete, remote: true, data: {confirm: "Are you sure?"} %></p>
                    <p><%= link_to "Go to Booking", expert_booking_path(current_user, booking) %></p>
                  </div>
                  <div class="booking-col width-static">
                    <% if booking.user.photo.key %>
                      <%= cl_image_tag booking.user.photo.key, height: 90, crop: :fill %>
                    <% elsif booking.user.id <= 10 %>
                      <%= image_tag "expert-#{booking.user.id}.jpg", height: 90, crop: :fill %>
                    <% else %>
                      <%= image_tag "default-user.png", height: 90, crop: :fill %>
                    <% end %>
                    <p><%= booking.user.first_name%> <%= booking.user.last_name %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="dashboard-container">

        <div class="dashboard-banner">
          <i class="lni lni-coffee-cup"></i>
          <h2>Completed Coffee Chats</h2>
        </div>

        <div class="dashboard-list">
          <% if !@completed_bookings.empty? %>
            <% @completed_bookings.each do |booking| %>
              <div class="booking">
                <div class="booking-left">
                  <div class="booking-col right-border">
                    <h2><%=booking.start.strftime("%d")%></h2>
                    <h2><%=booking.start.strftime("%b")%></h2>
                  </div>
                  <div class="booking-col">
                    <h2><%=booking.start.strftime("%H")%>:<%=booking.start.strftime("%M")%></h2>
                    <%=booking.topic.topic_name%>
                    <p><%=(booking.end - booking.start).to_i/60%> mins</p>
                  </div>
                </div>
                <div class="booking-right">
                  <div class="booking-col middle-width">
                    <% if !booking.reviews.empty? %>
                      <p>Rating <%= booking.reviews[0].rating %>/5</p>
                      <p class="text-small"><%= booking.reviews[0].content.truncate(280) %></p>
                    <% else %>
                      <p>No rating yet</p>
                    <% end %>
                  </div>
                  <div class="booking-col width-static">
                    <% if booking.user.photo.key %>
                      <%= cl_image_tag booking.user.photo.key, height: 90, crop: :fill %>
                    <% elsif booking.user.id <= 10 %>
                      <%= image_tag "expert-#{booking.user.id}.jpg", height: 90, crop: :fill %>
                    <% else %>
                      <%= image_tag "default-user.png", height: 90, crop: :fill %>
                    <% end %>
                    <p><%= booking.user.first_name%> <%= booking.user.last_name %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% elsif params[:interface] == "learner" %>
        <div class="switch-box">
          <%= link_to "Learner", dashboard_path(interface: "learner"), { class: "background-blue" } %>
          <%= link_to "Expert", dashboard_path %>
        </div>

        <div class="dashboard-container">

        <div class="dashboard-banner">
          <i class="lni lni-coffee-cup"></i>
          <h2>Upcoming Coffee Chats</h2>
        </div>

        <div class="dashboard-list">
          <% if !@user_upcoming_bookings.empty? %>
            <% @user_upcoming_bookings.each do |booking| %>
            <div class="booking">
                <div class="booking-left">
                  <div class="booking-col right-border">
                    <h2><%=booking.start.strftime("%d")%></h2>
                    <h2><%=booking.start.strftime("%b")%></h2>
                  </div>
                  <div class="booking-col">
                    <h2><%=booking.start.strftime("%H")%>:<%=booking.start.strftime("%M")%></h2>
                    <%=booking.topic.topic_name%>
                    <p><%=(booking.end - booking.start).to_i/60%> mins</p>
                  </div>
                </div>
                <div class="booking-right">
                  <div class="booking-col">
                    <p><%= link_to "Cancel", expert_booking_path(current_user, booking), method: :delete, remote: true, data: {confirm: "Are you sure?"} %></p>
                    <p><%= link_to "Go to Booking",  expert_booking_path(booking.coffee_chat.user, booking) %></p>
                  </div>
                  <div class="booking-col width-static">
                    <% if booking.coffee_chat.user.photo.key %>
                      <%= cl_image_tag booking.coffee_chat.user.photo.key, height: 90, crop: :fill %>
                    <% elsif booking.coffee_chat.user.id <= 10 %>
                      <%= image_tag "expert-#{booking.coffee_chat.user.id}.jpg", height: 90, crop: :fill %>
                    <% else %>
                      <%= image_tag "default-user.png", height: 90, crop: :fill %>
                    <% end %>
                    <p><%= booking.coffee_chat.user.first_name%> <%= booking.coffee_chat.user.last_name %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="dashboard-container">

        <div class="dashboard-banner">
          <i class="lni lni-coffee-cup"></i>
          <h2>Completed Coffee Chats</h2>
        </div>

        <div class="dashboard-list">
          <% if !@user_completed_bookings.empty? %>
            <% @user_completed_bookings.each do |booking| %>
              <div class="booking">
                <div class="booking-left">
                  <div class="booking-col right-border">
                    <h2><%=booking.start.strftime("%d")%></h2>
                    <h2><%=booking.start.strftime("%b")%></h2>
                  </div>
                  <div class="booking-col">
                    <h2><%=booking.start.strftime("%H")%>:<%=booking.start.strftime("%M")%></h2>
                    <%=booking.topic.topic_name%>
                    <p><%=(booking.end - booking.start).to_i/60%> mins</p>
                  </div>
                </div>
                <div class="booking-right">
                  <div class="booking-col middle-width">
                    <% if !booking.reviews.empty? %>
                      <p>Rating <%= booking.reviews[0].rating %>/5</p>
                      <p class="text-small"><%= booking.reviews[0].content.truncate(280) %></p>
                    <% else %>
                      <%= simple_form_for([ booking, @review ], remote: true) do |f| %>
                        <%= f.input :rating %>
                        <%= f.input :content %>
                        <%= f.submit "Submit", class: "btn btn-secondary" %>
                      <% end %>
                    <% end %>                </div>
                  <div class="booking-col width-static">
                    <% if booking.coffee_chat.user.photo.key %>
                      <%= cl_image_tag booking.coffee_chat.user.photo.key, height: 90, crop: :fill %>
                    <% elsif booking.coffee_chat.user.id <= 10 %>
                      <%= image_tag "expert-#{booking.coffee_chat.user.id}.jpg", height: 90, crop: :fill %>
                    <% else %>
                      <%= image_tag "default-user.png", height: 90, crop: :fill %>
                    <% end %>
                    <p><%= booking.coffee_chat.user.first_name%> <%= booking.coffee_chat.user.last_name %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="dashboard-container">

        <div class="dashboard-banner">
          <i class="lni lni-coffee-cup"></i>
          <h2>Upcoming Coffee Chats</h2>
        </div>

        <div class="dashboard-list">
          <% if !@upcoming_bookings.empty? %>
            <% @upcoming_bookings.each do |booking| %>
            <div class="booking">
                <div class="booking-left">
                  <div class="booking-col right-border">
                    <h2><%=booking.start.strftime("%d")%></h2>
                    <h2><%=booking.start.strftime("%b")%></h2>
                  </div>
                  <div class="booking-col">
                    <h2><%=booking.start.strftime("%H")%>:<%=booking.start.strftime("%M")%></h2>
                    <%=booking.topic.topic_name%>
                    <p><%=(booking.end - booking.start).to_i/60%> mins</p>
                  </div>
                </div>
                <div class="booking-right">
                  <div class="booking-col">
                    <p><%= link_to "Cancel", expert_booking_path(current_user, booking), method: :delete, remote: true, data: {confirm: "Are you sure?"} %></p>
                    <p><%= link_to "Go to Booking", expert_booking_path(current_user, booking)  %></p>
                  </div>
                  <div class="booking-col width-static">
                    <% if booking.user.photo.key %>
                      <%= cl_image_tag booking.user.photo.key, height: 90, crop: :fill %>
                    <% elsif booking.user.id <= 10 %>
                      <%= image_tag "expert-#{booking.user.id}.jpg", height: 90, crop: :fill %>
                    <% else %>
                      <%= image_tag "default-user.png", height: 90, crop: :fill %>
                    <% end %>
                    <p><%= booking.user.first_name%> <%= booking.user.last_name %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="dashboard-container">

        <div class="dashboard-banner">
          <i class="lni lni-coffee-cup"></i>
          <h2>Completed Coffee Chats</h2>
        </div>

        <div class="dashboard-list">
          <% if !@completed_bookings.empty? %>
            <% @completed_bookings.each do |booking| %>
              <div class="booking">
                <div class="booking-left">
                  <div class="booking-col right-border">
                    <h2><%=booking.start.strftime("%d")%></h2>
                    <h2><%=booking.start.strftime("%b")%></h2>
                  </div>
                  <div class="booking-col">
                    <h2><%=booking.start.strftime("%H")%>:<%=booking.start.strftime("%M")%></h2>
                    <%=booking.topic.topic_name%>
                    <p><%=(booking.end - booking.start).to_i/60%> mins</p>
                  </div>
                </div>
                <div class="booking-right">
                  <div class="booking-col middle-width">
                    <% if !booking.reviews.empty? %>
                      <p>Rating <%= booking.reviews[0].rating %>/5</p>
                      <p class="text-small"><%= booking.reviews[0].content.truncate(280) %></p>
                    <% else %>
                      <p>No rating yet</p>
                    <% end %>
                  </div>
                  <div class="booking-col width-static">
                    <% if booking.user.photo.key %>
                      <%= cl_image_tag booking.user.photo.key, height: 90, crop: :fill %>
                    <% elsif booking.user.id <= 10 %>
                      <%= image_tag "expert-#{booking.user.id}.jpg", height: 90, crop: :fill %>
                    <% else %>
                      <%= image_tag "default-user.png", height: 90, crop: :fill %>
                    <% end %>
                    <p><%= booking.user.first_name%> <%= booking.user.last_name %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>


  <%# <% elsif current_user.expert_profile == true && !current_user.bookings.empty? %>

  <% else %>
    <div class="dashboard-container">

      <div class="dashboard-banner">
        <i class="lni lni-coffee-cup"></i>
        <h2>Upcoming Coffee Chats</h2>
      </div>

      <div class="dashboard-list">
        <% if !@user_upcoming_bookings.empty? %>
          <% @user_upcoming_bookings.each do |booking| %>
          <div class="booking">
              <div class="booking-left">
                <div class="booking-col right-border">
                  <h2><%=booking.start.strftime("%d")%></h2>
                  <h2><%=booking.start.strftime("%b")%></h2>
                </div>
                <div class="booking-col">
                  <h2><%=booking.start.strftime("%H")%>:<%=booking.start.strftime("%M")%></h2>
                  <%=booking.topic.topic_name%>
                  <p><%=(booking.end - booking.start).to_i/60%> mins</p>
                </div>
              </div>
              <div class="booking-right">
                <div class="booking-col">
                  <p><%= link_to "Cancel", expert_booking_path(current_user, booking), method: :delete, remote: true, data: {confirm: "Are you sure?"} %></p>
                  <p><%= link_to "Go to Booking",  expert_booking_path(booking.coffee_chat.user, booking) %></p>
                </div>
                <div class="booking-col width-static">
                  <% if booking.coffee_chat.user.photo.key %>
                    <%= cl_image_tag booking.coffee_chat.user.photo.key, height: 90, crop: :fill %>
                  <% elsif booking.coffee_chat.user.id <= 10 %>
                    <%= image_tag "expert-#{booking.coffee_chat.user.id}.jpg", height: 90, crop: :fill %>
                  <% else %>
                    <%= image_tag "default-user.png", height: 90, crop: :fill %>
                  <% end %>
                  <p><%= booking.coffee_chat.user.first_name%> <%= booking.coffee_chat.user.last_name %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="dashboard-container">

      <div class="dashboard-banner">
        <i class="lni lni-coffee-cup"></i>
        <h2>Completed Coffee Chats</h2>
      </div>

      <div class="dashboard-list">
        <% if !@user_completed_bookings.empty? %>
          <% @user_completed_bookings.each do |booking| %>
            <div class="booking">
              <div class="booking-left">
                <div class="booking-col right-border">
                  <h2><%=booking.start.strftime("%d")%></h2>
                  <h2><%=booking.start.strftime("%b")%></h2>
                </div>
                <div class="booking-col">
                  <h2><%=booking.start.strftime("%H")%>:<%=booking.start.strftime("%M")%></h2>
                  <%=booking.topic.topic_name%>
                  <p><%=(booking.end - booking.start).to_i/60%> mins</p>
                </div>
              </div>
              <div class="booking-right">
                <div class="booking-col middle-width">
                  <% if !booking.reviews.empty? %>
                    <p>Rating <%= booking.reviews[0].rating %>/5</p>
                    <p class="text-small"><%= booking.reviews[0].content.truncate(50) %></p>
                  <% else %>
                    <%= simple_form_for([ booking, @review ], remote: true) do |f| %>
                      <%= f.input :rating %>
                      <%= f.input :content %>
                      <%= f.submit "Submit", class: "btn btn-secondary" %>
                    <% end %>
                  <% end %>                </div>
                <div class="booking-col width-static">
                  <% if booking.coffee_chat.user.photo.key %>
                    <%= cl_image_tag booking.coffee_chat.user.photo.key, height: 90, crop: :fill %>
                  <% elsif booking.coffee_chat.user.id <= 10 %>
                    <%= image_tag "expert-#{booking.coffee_chat.user.id}.jpg", height: 90, crop: :fill %>
                  <% else %>
                    <%= image_tag "default-user.png", height: 90, crop: :fill %>
                  <% end %>
                  <p><%= booking.coffee_chat.user.first_name%> <%= booking.coffee_chat.user.last_name %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>


</div>
