<div class="container">

  <div class="banner">
    <h1><strong>Coffee Table</strong></b></h1>
  </div>

  <%= render "home/splash" %>
  <%= render "home/skills_grid" %>
  <%= render "home/usps" %>
  <%= render "home/steps" %>
  <%= render "home/testimonials" %>

</div>
