  <div class="container">
   <div class="banner">
     <h1><strong>Coffee Table</strong></b></h1>
   </div>

   <div class="wrapper">
     <%= image_tag("Home1.jpeg", class: "d-block w-100") %>
       <div class="search-wrapper">
         <div>
           <div class="text-block">
           <h6><strong>Prepare to achieve your goals with our experts</strong></h6>
           </div>
           <%= render "shared/search_bar" %>
         </div>
       </div>
   </div>
 <br>
 <div class="banner">
     <h4><strong>Focus on the skills you need</strong></h4><br>
     <h6></h6>
   </div>

 <div class="container">
   <div class="row">
   <% @topic_with_expert.each do |x| %>

     <div class="col">
           <div class="topic-container">
             <%= image_tag("#{x.topic_name}.png", class:"icon") %><br>
             <h6><%= link_to x.topic_name, experts_path(query:x.topic_name) %></h6><br>
             <p><%= x.topic_description.truncate(40) %></p>
           </div>

     </div>
   <%  end %>

   </div>
 </div>


 <br><br>
 <div class="row">
   <div class="col-sm-2"></div>
   <div class="col-sm-3">
     <div class="usp">
       <p><strong>Easy to Book!</strong></p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, esse.</p>
     </div>
   </div>
   <div class="col-sm-3">
     <div class="usp">
       <p><strong>Easy to Book!</strong></p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, esse.</p>
     </div>
   </div>
   <div class="col-sm-3">
     <div class="usp">
       <p><strong>Easy to Book!</strong></p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, esse.</p>
     </div>
   </div>
 </div>
 <br><br><br>
 <ol>
   <li>
     <h5>Find the best expert</h5>
     <p>Choose from over 350 online expert. Use filters to narrow your search to find the perfect fit</p>
   </li>
   <li>
     <h5>Make an appointment anytime</h5>
     <p>Find the perfect time for your busy schedule. Book an appointment in seconds with the expert of choice</p>
   </li>
   <li>
     <h5>Enter virtual room</h5>
     <p>When it’s time, connect with the expert through the video platform</p>
   </li>
   <li>
     <h5>Enjoy structured learning</h5>
     <p>Keep track on your progress and improve your skills</p>
   </li>
 </ol>
 <br><br>
 <div class="row">
   <div class="col-sm-8">
     <h2><strong>Lisa Tino</strong></h2>
     <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum magni dignissimos, vel quidem ullam repellat!</h4>
   <br><br>
   <button type="button" class="learn-more">Learn More</button>
   </div>
   <div class="col-sm-4">
     <%= image_tag("testimonial1.png") %>
   </div>
 </div>
 <br><br>
 <div class="row">
   <div class="col-sm-4">
     <%= image_tag("testimonial2.png") %>
   </div>
   <div class="col-sm-8">
     <h2><strong>Lisa Tino</strong></h2>
     <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum magni dignissimos, vel quidem ullam repellat!</h4>
   <br><br>
   <button type="button" class="learn-more">Learn More</button>
   </div>
 </div>
 </div>

 </div>
 </div>
