<div class="container">
  <%= render "home/company_name" %>
  <%= render "home/splash" %>
</div>

<div class="container">
  <%= render "home/skills_grid" %>
</div>

<div class="container">
  <%= render "home/usps" %>
</div>

<%# <div class="bg-grey"> %>
  <div class="container">
    <%= render "home/steps" %>
  </div>
</div>

<div class="container">
  <%= render "home/testimonials" %>
</div>
