<div class='container'>
  <div class='profile-section'>
    <div class='profile-details'>

    <% if @user.photo.key %>
      <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="assets/default-user.png" class="icon" alt="rails">
    <% end %>


      <h1><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></h1>
      <h4><%= current_user.email %></h4>
      <h4><%= current_user.description %></h4>
      <br><br>
      <h5>Member since <%= (Date::MONTHNAMES[current_user.created_at.month])%> <%= current_user.created_at.year %> -- <%= current_user.id %></h5>

      <h5 id='edit-profile-a'><%= link_to "Edit Profile", edit_user_registration_path %></h5>
    </div>

    <% if current_user.expert_profile %>
      <div class='expert-section'>
        <h5>EXPERT SECTION</h5>
        <hr>

        <h3>Expert in
          <strong>
            <% ExpertTopic.all.each do |expert_topics| %>
              <% if expert_topics.user_id == current_user.id
                  topic = Topic.find(expert_topics.topic_id).topic_name
                  end %>
            <% end %>
          </strong>
        <h3>
      </div>
    <% end %>

    <div class='learner-section'>
      <h5>LEARNER SECTION</h5>
      <hr>
      <h3>Learning <strong></strong><h3>
    </div>

    <div class='history'>
    <h5>COMPLETED COFFEE CHATS</h5>
    <hr>
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Last 30 days</th>
          <th scope="col">Last 90 days</th>
          <th scope="col">All time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">As a learner</th>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <th scope="row">As an expert</th>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <th scope="row">Attendance</th>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
