<div class='container'>


  <div class="card-profile">
    <%= cl_image_tag('https://res.cloudinary.com/gisla36/image/upload/v1647103762/development/pexels-mart-production-7577765_hssayu.jpg',
    width: 1200, height: 250, crop: :fill) %>
      <div class="card-infos">


          <div class="card-body-profile-dm">
              <h1><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></h1>
              <h4><%= current_user.description %></h4>
              <h5>Member since <%= (Date::MONTHNAMES[current_user.created_at.month])%> <%= current_user.created_at.year %> </h5>
          </div>

        <div class="profile-img">
          <% if current_user.photo.key %>
            <%= cl_image_tag current_user.photo.key, width: 150, height: 150 %>
          <% elsif current_user.id <= 10 %>
            <%= image_tag "expert-#{current_user.id}.jpg", width: 150, height: 150 %>
          <% else %>
            <%= image_tag "default-user.png", width: 150, height: 150 %>
          <% end %>
        </div>

          <h5 id='edit-profile-a'><%= link_to "Edit Profile", edit_user_registration_path %></h5>
      </div>
  </div>



    <div>
        <p class="profile-stripe"></p>
    </div>





  <div>
    <div class="cards-profile">
      <% if current_user.expert_profile %>
        <div class="card-box position">
          <h5>MY EXPERTISE</h5>
            <hr>
            <div class="flex">
                <% current_user.topics.each do |topic| %>
                  <div class="topic-line">
                    <% expert_topic = ExpertTopic.find_by({topic: topic, user: current_user}) %>
                    <h3 class="topic-name"><%= topic.topic_name %>  </h3>
                    <%= link_to "x", expert_topic_path(expert_topic), method: :delete, class: 'remove-topic-btn', remote: true %>
                  </div>
                <% end %>
          </div>
          <div class="flex align-items-center">
                <div>
                  <%= link_to "Add a new topic", "#", class: 'add-topic', remote: true %>
                </div>

                <%= form_tag("/expert_topics", method: "post", class: "add-topic-box invisible", remote: true) do%>
                  <%= text_field_tag(:topic_name) %>
                  <%= submit_tag("+") %>
                <% end %>
          </div>
        </div>
      <% end %>


        <div class="card-box">
          <h5>LEARNER SECTION</h5>
            <hr>
          <h3>
          <% if @learner_topics.empty? %>
            You have not made a booking yet
          <% else %>
            <% @learner_topics.each do |topic| %>
            <%= topic %>
            <% end %>
          <% end %>
          </h3>
        </div>

    </div>

</div>








    <table class="table table-bordered table-dark">

      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Last 30 days</th>
          <th scope="col">Last 90 days</th>
          <th scope="col">In total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">As a learner</th>
          <td><%=@learner_bookings.map { |booking| booking.end > (DateTime.now + 30*60*24)}.count   %></td>
          <td><%=@learner_bookings.map { |booking| booking.end > (DateTime.now + 90*60*24)}.count %></td>
          <td><%=@learner_bookings.count  %></td>
        </tr>
        <tr>
          <th scope="row">As an expert</th>
          <td><%=@expert_bookings.map { |booking| booking.end > (DateTime.now + 30*60*24)}.count   %></td>
          <td><%=@expert_bookings.map { |booking| booking.end > (DateTime.now + 90*60*24)}.count %></td>
          <td><%=@expert_bookings.count  %></td>
        </tr>
      </tbody>
    </table>


    </div>

</div>
